.mainContent {
  width: 81%;
  height: calc(100% - 3.5rem);
  background-color: #f3f4f8;
  padding: 1.5rem 2.3rem 2.5rem 2.3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.Dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Dashboard-header-text {
  color: #444444;
  font-size: 1.2rem;
}

.Dashboard-header-time {
  color: #3d4b5b;
  font-size: 0.9rem;
}

.Dashboard-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.Dashboard-items {
  display: flex;
  column-gap: 1rem;
  height: calc(100% - 15.5rem);
  width: 100%;
}

.Dashboard-items-left {
  width: calc(67.2% - 0.8rem);
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1.8rem 2.6rem;
  box-shadow: 2px 2px 2px 0 rgba(172, 181, 189, 0.15);
  row-gap: 1.8rem;
}

.expense-header,
.events-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.expense-header-text,
.events-header-text {
  font-size: 1.2rem;
}

.expense-header-right {
  display: flex;
  column-gap: 0.6rem;
  cursor: pointer;
}

.all-requests {
  color: #0059fb;
  font-weight: 700;
  font-size: 1rem;
}

.icon-arrow {
  width: 0.9rem;
  transition: 0.2s all ease-in-out;
}

.expense-header-right:hover .icon-arrow {
  transform: translate(0.5rem, 0);
  transition: 0.2s all ease-in-out;
}

.expenses-container{
    height: calc(100% - 1.8rem);
    overflow-y: scroll;
}

.expense-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0rem;
  box-shadow: 0 1px 0 0 #e8e8e8;
  background-color: #fff;
  margin-top: 0.2rem;
}

.Dashboard-items-right {
  width: calc(33% - 0.5rem);
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 1rem;
}

.Upcoming_events {
  height: calc(35% - 0.4rem);
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(172, 181, 189, 0.15);
  padding: 1.8rem 2.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.events-header {
  justify-content: flex-start;
  column-gap: 0.6rem;
  align-items: center;
  cursor: pointer;
}

.icon-arrow2 {
  height: 1.2rem;
  width: 0.9rem;
  transition: 0.2s all ease-in-out;
}

.events-header:hover .icon-arrow2 {
  transform: translate(0.5rem, 0);
  transition: 0.2s all ease-in-out;
}

.meeting {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
}

.event-content{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.icon-calendar{
  height: 4.5rem;
  width: 4.5rem;
}

.meeting-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  row-gap: 5px;
  justify-content: space-between;
}

.townhall {
  font-size: 1.27rem;
  font-weight: 700;
}

.Time {
  color: #666666;
  font-size: 0.83rem;
  font-weight: 600;
}

.Time-text {
  color: #000000;
  font-size: 0.83rem;
  font-weight: 700;
}

.meet-location {
  color: #000000;
  font-size: 0.85rem;
  font-weight: 700;
}

.participants {
  display: flex;
  column-gap: 2px;
}

.icon-attendee {
  width: 1.5rem;
}

.attendee-count {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #e4f1ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attendee-count span {
  font-size: 0.5rem;
  color: #0059fb;
}

.Upcoming_holidays {
  display: flex;
  flex-direction: column;
  height: calc(65% - 0.6rem);
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(172, 181, 189, 0.15);
  padding: 1.5rem 2.3rem 1.5rem 2.3rem;
  row-gap: 1.8rem;
}

.holidays-container {
  height: 86%;
  overflow-y: scroll;
}

.holiday-card {
  display: flex;
  box-shadow: 0 1px 0 0 #e8e8e8;
  height: 5rem;
  background-color: #fff;
  justify-content: flex-start;
  column-gap: 1rem;
  align-items: center;
  margin-top: 0.1rem;
}

#activeCard {
  box-shadow: 0 4px 4px 0 rgba(19, 20, 20, 0.15);
}

#republic {
  box-shadow: none;
}
