.navBar {
  display: flex;
  flex-direction: column;
}

.navBarContainer{
  width: 19%;
  height: 100%;
  box-shadow: 2px 2px 2px 0 rgba(172, 181, 189, 0.15);
  background-color: #fff;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
  position: fixed;
  /* left: -100%; */
}

.navBar li{
  background-color: #ffffff;
}

ul{
  list-style-type: none;
}

.navBar #NavActive{
  background-color: rgba(0, 88, 250, 0.05);
  color: #0059fb;
}

.navBar #NavActive a{
  background-color: rgba(0, 88, 250, 0.05);
  color: #0059fb;
}

.navBar li a{
  text-decoration: none;
  color: #3d4b5b;
}

.navBar li:hover a{
  color: #0059fb;
}