.employees-page{
    height: calc(100% - 3.5rem);
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f8;
    /* padding: 1.5rem 2.3rem 2.5rem 2.3rem; */
    justify-content: space-between;
}

.employees-breadcrumbs{
    height: 3rem;
    background-color: #f3f4f8;
    width: 100%;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    align-items: center;
    padding: 0.5rem 2.3rem 0.5rem 2.3rem;
}

.main-crumb{
    color: #0058fa;
    font-size: 0.95rem;
    cursor: pointer;
}

.sub-crumb{
    color: #929292;
    font-size: 0.95rem;
    cursor: pointer;
}

.employees-content{
    height: calc(100% - 7.2rem);
    width: 100%;
    padding: 1rem 2.3rem 1.2rem 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.employees-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.all-employees{
    font-size: 1.4rem;
    color: #404b5b;
}

.employee-search{
    display: flex;
    column-gap: 0.3rem;
    align-items: center;
    background-color: #ffffff;
    height: 2.5rem;
    padding: 0rem 0.8rem;
    width: 20rem;
}

.search-icon{
    height: 1.1rem;
    width: 1.1rem;
}

.search-box{
    height: 2rem;
    width: 100%;
    font-size: 0.85rem;
    padding: 0.2rem;
    outline: none;
    caret-color:#404b5b ;
}

::placeholder{
    color:#404b5b;
    opacity: 0.5;
}

.employee-table-container{
    height: calc(100% - 3.8rem);
    width: 100%;
}

.employee-table{
    width: 100%;
    /* background-color: #ffffff; */
    border-collapse: separate;
    border-spacing: 0 0.3rem!important;
}

.employee-table-header{
    background-color: #ffffff;
}

.table-header-row{
    background-color: #ffffff;
    height: 3.2rem;
}

.table-header-row th{
    padding: 0rem 1rem;
    vertical-align: middle;
}

.th-elements{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.3rem;
}

.header-name{
    font-size: 0.85rem;
    color: #3d4b5b;
}

.table-header-empID{
    width: 12.5%;
}

.table-header-name-email{
    width: 22%;
}

.table-header-role{
    width: 17%;
}

.table-header-mobile{
    width: 12%;
}

.table-header-join-date{
    width: 11%;
}

.table-header-manager{
    width: 16%;
}

.table-header-actions{
    width: 9.5%;
}

.sort-buttons{
    display: flex;
    flex-direction: column;
}

.sort-icon{
    height: 0.4rem;
    width: 0.4rem;
}

.employee-body-row{
    height: 4.4rem;
    vertical-align: middle;
    background-color: #ffffff;
}

.show-more{
    text-align: center;
    font-size: 0.9rem;
    color: #0058fa;
}

.employees-footer{
    height: 4.8rem;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    column-gap: 1rem;
}

.cancelBtn, .saveBtn{
    padding: 0.2rem 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
    height: 2.8rem;
}

.cancelBtn{
    background-color: #666666;
}

.saveBtn{
    background-color: #0058fa;
}

.table-fixed-head{
    background-color: #ffffff;
}